#app {
  background: var(--blog-bg-color);
  color: var(--text-color);
  font-family:
    Lato,
    PingFang SC,
    Microsoft YaHei,
    sans-serif;
  font-size: 14px;
  font-weight: 300;
}

::selection {
  background: var(--theme-color);
  color: #fff;
}

* {
  color: var(--text-color);
}

a {
  color: var(--text-color);
}

a:hover {
  color: var(--theme-color) !important;
}
